  <!-- footer section -->
  <footer class="footer">
    <div class="container py-5">
        <div class="row gy-3 py-3">
            <div class="col-md-12 col-12 col-lg-4 col-xxl-4">
                <h3 class="footer-heading">Corporate Address</h3>
                <ul class="footer-list">
                    <li> <i class="fas fa-map-marker-alt"></i>Agrabad Access Rd ,</li>
                    <li>5th Floor, 65 Naim Avenue,</li>
                    <li>Agrabad-2, Chittagong,</li>
                    <li>Bangladesh</li>
                </ul>
            </div>
            <div class="col-md-12 col-12 col-lg-4 col-xxl-4">
                <h3 class="footer-heading">Get In Touch</h3>
                <ul class="footer-list">
                    <li>Dial # 1879468952-11</li>
                    <li>Fax # 02-17345498</li>
                    <li>Hotline # 163597</li>
                    <li>info@avocado.com</li>
                </ul>
            </div>
            <div class="col-md-12 col-12 col-lg-4 col-xxl-4">
                <h3 class="footer-heading">Follow Us</h3>
                <div class="footer_icon">
                    <a href="https://www.instagram.com" target="_sakib"> <i class="fab fa-instagram"></i> </a>
                    <a href="https://www.facebook.com/" target="_sakib"><i class="fab fa-facebook"></i> </a>
                    <a href="https://twitter.com/" target="_sakib"> <i class="fab fa-twitter"></i> </a>
                    <a href="https://www.linkedin.com/" target="_sakib"><i class="fab fa-linkedin-in"></i> </a>
                    <a href="https://www.whatsapp.com/" target="_sakib"><i class="fab fa-whatsapp"></i> </a>
                </div>
            </div>
        </div>
    </div>

</footer>
