

<!-- head section -->
<%- include('./partials/head.ejs') %>

<body> 

       <!-- navbar section -->
       <%- include('./partials/nav.ejs') %>

    <!-- header image section of carousel -->
    <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="./img/about1.jpg" class="d-block w-100 img-fluid" alt="image is loading" />
                <div class="carousel-caption d-md-block">
                    <h1 class="header_heading">About Us</h1>
                </div>
            </div>
        </div>
    </div>

    <!-- about section -->
    <section class="about">
        <div class="container py-5">
            <h1 class="about-heading">About us</h1>
            <div class="row py-5">
                <div class="col-md-12 col-12 col-lg-12 col-xxl-6 about-left">
                    <div>
                        <p>The chronicle of <span>Avocado Properties Ltd. (APL) </span> is a glorious history to be
                            told. It is a
                            history
                            almost two decade of innovation, intelligence and indomitable industrious
                            approach.
                            Since its establishment in 1999 by its Chairman <span> Mr. Abu Naim Md Sakib </span> , APL
                            has been proving
                            its
                            worth, as a proud concern of Avocado Group. These days, from construction to energy,
                            manufacturing to trading, Avocado Group is the frontrunner in multi-diversified business
                            operations. </p>
                    </div>
                    <div>
                        <p> APL, as a sister concern of <span> Avocado Group </span> now stands out as one of the
                            leading real-estate
                            company in the country which is recognized already as <span> “Super Brand” </span> . Under
                            the banner of
                            “Avocado” in recent time, APL is successfully turning the dreams of both local citizens and
                            APL’s into a reality. In the pursuit of being “Different”, APL has been most successful in
                            bringing design shift in the building construction. With rigorous scientific and technical
                            knowhow and continuous innovation, APL is racing ahead to fulfill the ever increasing need
                            and
                            demand of the prospective buyers of the metropolis. </p>
                    </div>
                    <div>

                        <p>In the last <span> 22 years </span>, APL has completed a significant number of projects in
                            all over Dhaka
                            and
                            Chittagong cities. Around more than hundred projects both residential and commercial are now
                            ongoing in Dhaka and Chittagong cities.

                            The motto of the Company is to pursue continuously on three core concepts; these are to be –
                            <span> “Different, Dependable and Definitive”. </span>
                        </p>
                    </div>
                </div>
                <div class="col-md-12 col-12 col-lg-12 col-xxl-6 about-right">
                    <div class="card mb-3 shadow">
                        <div class="row">
                            <div class="col-md-6">
                                <img src="img/anms2.jpg" class="img-fluid" alt="image is loading">
                            </div>
                            <div class="col-md-6">
                                <div class="card-body">
                                    <h3 class="card-title">Abu Naim Md Sakib</h3>
                                    <p>Chairman</p>
                                    <p>" Road to success is the combination of dedication,
                                        devotion and unremitting
                                        hardwork to what one wants to see happen. The endeavor towards this brought
                                        APL
                                        to country’s leading and one of the most successful real estate companies "
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <!-- management team section -->
    <section class="team-section my-3">
        <div class="container">
            <h1 class="about-heading">Management Team </h1>
            <P class="team-heading-text"> <span> Avocado Properties </span> is a committed team to create customer
                satisfaction through <span>effective management team </span>,
                technical expertise, and extensive cross functional expertise. Our team consists of designers, planners,
                engineers, consultants, technical specialist, and architects. We are working across every aspect of
                today’s built to provide best customer experience what we called <span> “Architecting Experience of
                    Life”. </span></P>
            <div class="row gy-3">
                <div class="col-md-12 col-12 col-lg-12 col-xxl-12">
                    <div class="card mb-3">
                        <div class="row g-2">
                            <div class="col-md-6">
                                <img src="./img/team-memb1.jpg" class="img-fluid" alt="image is loading">
                            </div>
                            <div class="col-md-6 card-right-part">
                                <div class="card-body">
                                    <h5 class="card-title">Shehran Intesar</h5>
                                    <p class="position">Managing Director</p>
                                    <p class="card-text">Shehran Intesar has spent over eighteen years living and
                                        working in
                                        cities all across Bangladesh, where he's grown an expansive network of
                                        professional
                                        links with mainland Bangladeshi clients. </p>
                                    <p class="card-text">Shehran Intesar speaks English, Bangla and Hindi. He was
                                        educated
                                        in Bangladesh and England, and he’s worked in the UK for over 10 years. He has a
                                        BA
                                        in
                                        Philosophy and History of Art from University College London. </p>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-12 col-lg-12 col-xxl-12">
                    <div class="card mb-3">
                        <div class="row g-0">
                            <div class="col-md-6">
                                <img src="./img/team-memb2.jpg" class="img-fluid" alt="image is loading">
                            </div>
                            <div class="col-md-6 card-right-part">
                                <div class="card-body">
                                    <h5 class="card-title">Shafayet Naim Sakib</h5>
                                    <p class="position">Chife Marketing Officer </p>
                                    <p class="card-text">Shafayet thas over ten years' extensive experience in client
                                        relations and administration, working for a range of property brands across
                                        Bangladesh</p>
                                    <p class="card-text">He is fluent in English and Bangla, with a background in both
                                        translation and international sales and support – and he holds a BA in
                                        International Hospitality from the University of Brighton. </p>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-12 col-lg-12 col-xxl-12">
                    <div class="card mb-3">
                        <div class="row g-0">
                            <div class="col-md-6">
                                <img src="./img/team-memb3.jpg" class="img-fluid" alt="image is loading">
                            </div>
                            <div class="col-md-6 card-right-part">
                                <div class="card-body">
                                    <h5 class="card-title">Shaifur Shohid</h5>
                                    <p class="position">Head of operations</p>
                                    <p class="card-text">Shaifur Shohid has more than 10 years' experience in property
                                        development,
                                        working with clients from all over the country on projects ranging from $200k to
                                        $10 million.. </p>
                                    <p class="card-text">He has studied in both Bangladesh and England, earning an MSc
                                        in
                                        Administration and Information Technology from the University of Central
                                        Lancashire – and he's also fluent in English, Bangla and Hindi.
                                    </p>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <!-- Quality policy -->
    <section class="quality-policy">
        <div class="container">
            <h1 class="about-heading">Quality Policy</h1>
            <div class="row gy-3 py-5">
                <div class="col-md-12 col-12 col-lg-4 col-xxl-4 policy-left">
                    <div>
                        <p> <span> What We Do: </span></p>
                        <p> <span>“Architecting Experience” </span> by partnering with our customers to ensure our
                            mutual success.</p>
                    </div>
                    <div>
                        <p><span> What we are attaining:</span> </p>
                        <p>An organization responding to customer challenges speedily and effectively</p>
                    </div>
                </div>
                <div class="col-md-12 col-12 col-lg-8 col-xxl-8 policy-right shadow">
                    <div>
                        <p><span> Quality Policy: </span></p>
                        <p>We are committed to achieve both of our internal and external <span> customers’ satisfaction
                            </span> through
                            <span>valued quality</span> , smooth delivery and cost effectiveness through continual
                            improvement of the
                            products and services we offer, by <span> fulfilling </span> all applicable requirements.
                        </p>
                        <p>We are committed to care for our <span>people </span>, our <span> society </span> and <span>
                                the environment </span> through an
                            integrated quality management approach aiming to ensure the <span> ethical business</span>
                            practice. </p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- statistics -->
    <section class="statistics">
        <div class="container">
            <h1 class="about-heading">Statistics</h1>
            <div class="row gy-3 py-3">
                <div class="col-md-12 col-12 col-lg-3 col-xxl-3">
                    <div class="statistics-text">
                        <p ><i class="fas fa-project-diagram"></i> <span class="count"> 86</span></p>
                        <p>Total Numbers Of Projects</p>
                    </div>
                </div>
                <div class="col-md-12 col-12 col-lg-3 col-xxl-3">
                    <div class="statistics-text">
                        <p><i class="far fa-square"></i> <span class="count">6230</span>k sft</p>
                        <p>Total Built up Area</p>
                    </div>
                </div>
                <div class="col-md-12 col-12 col-lg-3 col-xxl-3">
                    <div class="statistics-text">
                        <p><i class="far fa-user"></i><span class="count"> 312</span></p>
                        <p>Total Numbers Of Clients</p>
                    </div>
                </div>
                <div class="col-md-12 col-12 col-lg-3 col-xxl-3">
                    <div class="statistics-text">
                        <p><i class="far fa-building"></i><span class="count">3250</span></p>
                        <p>Total Numbers Of Units</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- map section -->
    <section class="map-section">
        <div class="container-fluid">
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d118103.33518909621!2d91.74982775043046!3d22.32607810479663!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x30acd8a64095dfd3%3A0x5015cc5bcb6905d9!2sChattogram!5e0!3m2!1sen!2sbd!4v1629302371671!5m2!1sen!2sbd"
                style="border:0;" allowfullscreen="" loading="lazy"></iframe>
        </div>
    </section>

    <!-- footer section -->
    <%- include('./partials/footer.ejs') %>


    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj"
        crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-eMNCOe7tC1doHpGoWe/6oMVemdAVTMs2xqW4mwXrXsW0L84Iytr2wi5v2QjrP/xp" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js" integrity="sha384-cn7l7gDp0eyniUwwAZgrzD06kc/tftFf19TOAs2zVinnD/C7E91j9yyk5//jjpt/" crossorigin="anonymous"></script>
    -->


    <!-- external js link -->
    <script src="index.js"></script>



</body>

</html>