<!-- head section -->
<%- include('./partials/head.ejs') %>

    <body>

        <!-- navbar section -->
        <%- include('./partials/nav.ejs') %>


            <!-- header image section of carousel -->
            <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="./img/home3.jpg" class="d-block w-100 img-fluid latest-porject-img"
                            alt="image is loading" />
                        <div class="carousel-caption latest-project-caption d-md-block">
                            <h1>Avocado Naim Center</h1>
                            <p>Chandgaon R/A, Chittagong</p>
                        </div>
                    </div>
                </div>
            </div>

            <!-- image gallery  -->
            <section class="image-gallery">
                <div class="container py-5">
                    <h1 class="gallery-heading">Get View From The Inside </h1>
                    <div class="row gy-3 py-3 images">
                        <div class="col-md-12 col-12 col-lg-4 col-xxl-4">
                            <a href="./img/appartment1.jpg" target="_blank"> <img src="./img/appartment1.jpg"
                                    alt="image is loading" class="img-fluid"> </a>
                        </div>
                        <div class="col-md-12 col-12 col-lg-4 col-xxl-4">
                            <a href="./img/latest-proOne2.jpg" target="_blank"> <img src="./img/latest-proOne2.jpg"
                                    alt="image is loading" class="img-fluid"> </a>
                        </div>
                        <div class="col-md-12 col-12 col-lg-4 col-xxl-4">
                            <a href="./img/latest-proOne3.jpg" target="_blank"> <img src="./img/latest-proOne3.jpg"
                                    alt="image is loading" class="img-fluid"> </a>
                        </div>
                        <div class="col-md-12 col-12 col-lg-4 col-xxl-4">
                            <a href="./img/latest-proTwo4.jpg" target="_blank"> <img src="./img/latest-proTwo4.jpg"
                                    alt="image is loading" class="img-fluid"> </a>
                        </div>
                        <div class="col-md-12 col-12 col-lg-4 col-xxl-4">
                            <a href="./img/latest-proTwo5.jpg" target="_blank"> <img src="./img/latest-proTwo5.jpg"
                                    alt="image is loading" class="img-fluid"> </a>
                        </div>
                        <div class="col-md-12 col-12 col-lg-4 col-xxl-4">
                            <a href="./img/latest-protwo1.jpg" target="_blank"> <img src="./img/latest-protwo1.jpg"
                                    alt="image is loading" class="img-fluid"> </a>
                        </div>
                    </div>
                </div>
            </section>

            </section>

            <!-- feature and amenities -->
            <section class="feature">
                <div class="container py-5">
                    <h2 class="heading">Luxury Flat for Sale in Chandgaon R/A , Chittagong - Avocado Naim Center</h2>
                    <div class="row">
                        <div class="col-md-12 col-12 col-lg-6 col-xxl-6 feature-text">
                            <h3>Overview of Avocado Naim Center </h3>
                            <h4>Project type</h4>
                            <p><i class="far fa-check-circle"></i> Commercial</p>
                            <h4>Project Address</h4>
                            <p><i class="far fa-check-circle"></i> Plot# 3, Road# 01, Chandgaon R/A , Chittagong.</p>
                            <h4>Storied</h4>
                            <p><i class="far fa-check-circle"></i> Ground + 12 Leaving Floor</p>
                            <h4>Facing</h4>
                            <p><i class="far fa-check-circle"></i> South West Corner</p>
                            <h4>Land Area</h4>
                            <p><i class="far fa-check-circle"></i> 9 katha</p>
                            <h4>No. Of Elevator</h4>
                            <p><i class="far fa-check-circle"></i> 01 No</p>
                            <h4>Parking</h4>
                            <p><i class="far fa-check-circle"></i> Ground Floor</p>
                        </div>
                        <div class="col-md-12 col-12 col-lg-6 col-xxl-6 feature-text">
                            <h3>Overview of Avocado Naim Center's Appartment </h3>
                            <h4>No. Of Appartment</h4>
                            <p><i class="far fa-check-circle"></i> 24 No. </p>
                            <h4>Appartment Type</h4>
                            <p><i class="far fa-check-circle"></i> √ 04 Beds, √ 04 Baths (03 Attached), √ Living, √
                                Dining, √ Family Living, √ Kitchen with Ver, √ Maid's Bed with Toilet.</p>
                            <p><i class="far fa-check-circle"></i> √ 03 Beds, √ 03 Baths (02 Attached), √ Living, √
                                Dining, √ Family Living, √ Kitchen with Ver, √ Maid's Bed with Toilet.</p>
                            <h4>Appartment Size</h4>
                            <p>3400 sft. (Apprx) </p>
                        </div>
                    </div>
                </div>
            </section>

            <!-- map section of latest project one -->
            <section class="commercial-project-map">
                <div class="container py-5">
                    <div class="row">
                        <div class="col-md-12 col-12 col-lg-8 col-xxl-8 main-left">
                            <iframe
                                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7378.784287076665!2d91.84376117649785!3d22.37656961212907!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x30ad2799103abc97%3A0x65166b8f85f88de4!2sChandgaon%20Residential%20Area%2C%20Chattogram!5e0!3m2!1sen!2sbd!4v1629646112881!5m2!1sen!2sbd"
                                width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                        </div>
                        <div class="col-md-12 col-12 col-lg-4 col-xxl-4 main-right">
                            <h1>Location</h1>
                            <p> Plot# 3, Road# 01, Chandgaon R/A. <br> Chittagong.</p>
                        </div>
                    </div>
                </div>
            </section>

            <!-- commercial project section -->
            <section class="commercial_project_section">
                <div class="container my-5">
                    <h1>Commercial Projects</h1>
                    <div class="row gy-3">
                        <div class="col-md-12 col-12 col-lg-4 col-xxl-4" id="commercial-project-one">
                            <figure class="commercial-pro-img">
                                <img src="./img/commercial2.jpg" alt="image is loading" class="img-fluid">
                            </figure>
                            <div class="commerTxt">
                                <h5>Avocado Magnus</h5>
                                <p>Muradpur, Chittagong</p>
                            </div>
                        </div>
                        <div class="col-md-12 col-12 col-lg-4 col-xxl-4" id="commercial-project-two">
                            <figure class="commercial-pro-img">
                                <img src="./img/commercial3.jpg" alt="image is loading" class="img-fluid">
                            </figure>
                            <div class="commerTxt">
                                <h5>Avocado Jom Jom Tower</h5>
                                <p> Chandgaon R/A, Chittagong</p>
                            </div>
                        </div>
                        <div class="col-md-12 col-12 col-lg-4 col-xxl-4" id="commercial-project-four">
                            <figure class="commercial-pro-img">
                                <img src="./img/commercial5.jpg" alt="image is loading" class="img-fluid">
                            </figure>
                            <div class="commerTxt">
                                <h5>Tower Of Hope</h5>
                                <p>Mohammodpur, Muradpur, Chittagong</p>
                            </div>
                        </div>
                        <div class="col-md-12 col-12 col-lg-4 col-xxl-4" id="commercial-project-six">
                            <figure class="latProj-three-img">
                                <img src="./img/project3.jpg" alt="image is loading" class="img-fluid">
                            </figure>
                            <div class="commerTxt">
                                <h5>Avocado Dream Tower</h5>
                                <p>Nasirabad R/A, Chittagong</p>
                            </div>
                        </div>
                        <div class="col-md-12 col-12 col-lg-4 col-xxl-4" id="commercial-project-five">
                            <figure class="commercial-pro-img">
                                <img src="./img/commercial6.jpg" alt="image is loading" class="img-fluid">
                            </figure>
                            <div class="commerTxt">
                                <h5>Avocado Anms Tower</h5>
                                <p>East Nasirabad R/A, Chittagong</p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>


            <!-- footer section -->
            <%- include('./partials/footer.ejs') %>



                <!-- Optional JavaScript; choose one of the two! -->

                <!-- Option 1: Bootstrap Bundle with Popper -->
                <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
                    integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj"
                    crossorigin="anonymous"></script>

                <!-- Option 2: Separate Popper and Bootstrap JS -->
                <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-eMNCOe7tC1doHpGoWe/6oMVemdAVTMs2xqW4mwXrXsW0L84Iytr2wi5v2QjrP/xp" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js" integrity="sha384-cn7l7gDp0eyniUwwAZgrzD06kc/tftFf19TOAs2zVinnD/C7E91j9yyk5//jjpt/" crossorigin="anonymous"></script>
    -->

                <!-- github js link -->
                <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
                <script>
                    AOS.init({
                        offset: 200,
                        duration: 1000
                    });
                </script>

                <!-- external js link -->
                <script src="index.js"></script>



    </body>

    </html>