<!-- head section -->
<%- include('./partials/head.ejs') %>

    <body>

        <!-- navbar section -->
        <%- include('./partials/nav.ejs') %>

            <!-- header image section of carousel -->
            <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="./img/commercial6.jpg" class="d-block w-100 img-fluid latest-porject-img"
                            alt="image is loading" />
                        <div class="carousel-caption latest-project-caption d-md-block">
                            <h1>Avocado Anms Tower</h1>
                            <p>East Nasirabad R/A, Chittagong</p>
                        </div>
                    </div>
                </div>
            </div>


            <!-- image gallery  -->
            <section class="image-gallery">
                <div class="container py-5">
                    <h1 class="gallery-heading">Get View From The Inside </h1>
                    <div class="row gy-3 py-3 images">
                        <div class="col-md-12 col-12 col-lg-4 col-xxl-4">
                            <a href="./img/latest-proOne1.jpg" target="_blank"> <img src="./img/latest-proOne1.jpg"
                                    alt="image is loading" class="img-fluid"> </a>
                        </div>
                        <div class="col-md-12 col-12 col-lg-4 col-xxl-4">
                            <a href="./img/latest-proOne2.jpg" target="_blank"> <img src="./img/latest-proOne2.jpg"
                                    alt="image is loading" class="img-fluid"> </a>
                        </div>
                        <div class="col-md-12 col-12 col-lg-4 col-xxl-4">
                            <a href="./img/latest-proOne3.jpg" target="_blank"> <img src="./img/latest-proOne3.jpg"
                                    alt="image is loading" class="img-fluid"> </a>
                        </div>
                        <div class="col-md-12 col-12 col-lg-4 col-xxl-4">
                            <a href="./img/latest-proOne4.jpg" target="_blank"> <img src="./img/latest-proOne4.jpg"
                                    alt="image is loading" class="img-fluid"> </a>
                        </div>
                        <div class="col-md-12 col-12 col-lg-4 col-xxl-4">
                            <a href="./img/latest-proOne5.jpg" target="_blank"> <img src="./img/latest-proOne5.jpg"
                                    alt="image is loading" class="img-fluid"> </a>
                        </div>
                        <div class="col-md-12 col-12 col-lg-4 col-xxl-4">
                            <a href="./img/latest-proOne6.jpg" target="_blank"> <img src="./img/latest-proOne6.jpg"
                                    alt="image is loading" class="img-fluid"> </a>
                        </div>
                    </div>
                </div>
            </section>


            <!-- feature and amenities -->
            <section class="feature">
                <div class="container py-5">
                    <h2 class="heading">Luxury Flat for Sale in East Nasirabad R/A , Chittagong - Avocado </h2>
                    <div class="row">
                        <div class="col-md-12 col-12 col-lg-6 col-xxl-6 feature-text">
                            <h3>Overview of Tower Of Hope </h3>
                            <h4>Project type</h4>
                            <p><i class="far fa-check-circle"></i> Commercial</p>
                            <h4>Project Address</h4>
                            <p><i class="far fa-check-circle"></i> Plot# 3, Road# 02, East Nasirabad R/A , Chittagong.
                            </p>
                            <h4>Storied</h4>
                            <p><i class="far fa-check-circle"></i> Ground + 14 Leaving Floor</p>
                            <h4>Facing</h4>
                            <p><i class="far fa-check-circle"></i> North East Corner</p>
                            <h4>Land Area</h4>
                            <p><i class="far fa-check-circle"></i> 8.5 katha</p>
                            <h4>No. Of Elevator</h4>
                            <p><i class="far fa-check-circle"></i> 01 No</p>
                            <h4>Parking</h4>
                            <p><i class="far fa-check-circle"></i> Ground Floor</p>
                        </div>
                        <div class="col-md-12 col-12 col-lg-6 col-xxl-6 feature-text">
                            <h3>Overview of Avocado Anms Tower's Appartment </h3>
                            <h4>No. Of Appartment</h4>
                            <p><i class="far fa-check-circle"></i> 28 No. </p>
                            <h4>Appartment Type</h4>
                            <p><i class="far fa-check-circle"></i> √ 04 Beds, √ 04 Baths (03 Attached), √ Living, √
                                Dining, √ Family Living, √ Kitchen with Ver, √ Maid's Bed with Toilet.</p>
                            <p><i class="far fa-check-circle"></i> √ 03 Beds, √ 03 Baths (02 Attached), √ Living, √
                                Dining, √ Family Living, √ Kitchen with Ver, √ Maid's Bed with Toilet.</p>
                            <h4>Appartment Size</h4>
                            <p>3300 sft. (Apprx) </p>
                        </div>
                    </div>
                </div>
            </section>

            <!-- map section of latest project one -->
            <section class="commercial-project-map">
                <div class="container py-5">
                    <div class="row">
                        <div class="col-md-12 col-12 col-lg-8 col-xxl-8 main-left">
                            <iframe
                                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d14758.338302654998!2d91.81184683620504!3d22.369309557661943!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x30acd8884391b64f%3A0xf8dc0cd88fee66a8!2sEast%20Nasirabad%2C%20Chattogram!5e0!3m2!1sen!2sbd!4v1629647653710!5m2!1sen!2sbd"
                                width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>

                        </div>
                        <div class="col-md-12 col-12 col-lg-4 col-xxl-4 main-right">
                            <h1>Location</h1>
                            <p> Plot# 03, Road# 02, East Nasirabad R/A. <br> Chittagong.</p>
                        </div>
                    </div>
                </div>
            </section>

            <!-- commercial project section -->
            <section class="commercial_project_section">
                <div class="container my-5">
                    <h1>Commercial Projects</h1>
                    <div class="row gy-3">
                        <div class="col-md-12 col-12 col-lg-4 col-xxl-4" id="commercial-project-one">
                            <figure class="commercial-pro-img">
                                <img src="./img/commercial2.jpg" alt="image is loading" class="img-fluid">
                            </figure>
                            <div class="commerTxt">
                                <h5>Avocado Magnus</h5>
                                <p>Muradpur, Chittagong</p>
                            </div>
                        </div>
                        <div class="col-md-12 col-12 col-lg-4 col-xxl-4" id="commercial-project-two">
                            <figure class="commercial-pro-img">
                                <img src="./img/commercial3.jpg" alt="image is loading" class="img-fluid">
                            </figure>
                            <div class="commerTxt">
                                <h5>Avocado Jom Jom Tower</h5>
                                <p> Chandgaon R/A, Chittagong</p>
                            </div>
                        </div>
                        <div class="col-md-12 col-12 col-lg-4 col-xxl-4" id="commercial-project-three">
                            <figure class="commercial-pro-img">
                                <img src="./img/commercial4.jpg" alt="image is loading" class="img-fluid">
                            </figure>
                            <div class="commerTxt">
                                <h5>Avocado Naim Center</h5>
                                <p>Chandgaon R/A, Chittagong</p>
                            </div>
                        </div>
                        <div class="col-md-12 col-12 col-lg-4 col-xxl-4" id="commercial-project-six">
                            <figure class="commercial-pro-img">
                                <img src="./img/project3.jpg" alt="image is loading" class="img-fluid">
                            </figure>
                            <div class="commerTxt">
                                <h5>Avocado Dream Tower</h5>
                                <p>Nasirabad R/A, Chittagong</p>
                            </div>
                        </div>
                        <div class="col-md-12 col-12 col-lg-4 col-xxl-4" id="commercial-project-four">
                            <figure class="commercial-pro-img">
                                <img src="./img/commercial5.jpg" alt="image is loading" class="img-fluid">
                            </figure>
                            <div class="commerTxt">
                                <h5>Tower Of Hope</h5>
                                <p>Mohammodpur, Muradpur, Chittagong</p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>


            <!-- footer section -->
            <%- include('./partials/footer.ejs') %>


                <!-- all the body bottom link -->
                <%- include('./partials/bodyBottom.ejs') %>


    </body>

    </html>