<!-- head section -->
<%- include('./partials/head.ejs') %>

    <body>

        <!-- navbar section -->
        <%- include('./partials/nav.ejs') %>


            <!-- header image section of carousel -->
            <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="./img/residential1.jpg" class="d-block w-100 img-fluid latest-porject-img"
                            alt="image is loading" />
                        <div class="carousel-caption latest-project-caption d-md-block">
                            <h1>Avocado Anms Villa</h1>
                            <p>Halishahar R/A, Chittagong</p>
                        </div>
                    </div>
                </div>
            </div>

            <!-- image gallery  -->
            <section class="image-gallery">
                <div class="container py-5">
                    <h1 class="gallery-heading">Get View From The Inside </h1>
                    <div class="row gy-3 py-3 images">
                        <div class="col-md-12 col-12 col-lg-4 col-xxl-4">
                            <a href="./img/latest-protwo1.jpg" target="_blank"> <img src="./img/latest-protwo1.jpg"
                                    alt="image is loading" class="img-fluid"> </a>
                        </div>
                        <div class="col-md-12 col-12 col-lg-4 col-xxl-4">
                            <a href="./img/latest-proTwo3.jpg" target="_blank"> <img src="./img/latest-proTwo3.jpg"
                                    alt="image is loading" class="img-fluid"> </a>
                        </div>
                        <div class="col-md-12 col-12 col-lg-4 col-xxl-4">
                            <a href="./img/appartment3.jpg" target="_blank"> <img src="./img/appartment3.jpg"
                                    alt="image is loading" class="img-fluid"> </a>
                        </div>
                        <div class="col-md-12 col-12 col-lg-4 col-xxl-4">
                            <a href="./img/latest-proTwo5.jpg" target="_blank"> <img src="./img/latest-proTwo5.jpg"
                                    alt="image is loading" class="img-fluid"> </a>
                        </div>
                        <div class="col-md-12 col-12 col-lg-4 col-xxl-4">
                            <a href="./img/latest-proTwo6.jpg" target="_blank"> <img src="./img/latest-proTwo6.jpg"
                                    alt="image is loading" class="img-fluid"> </a>
                        </div>
                        <div class="col-md-12 col-12 col-lg-4 col-xxl-4">
                            <a href="./img/latest-proTwo2.jpg" target="_blank"> <img src="./img/latest-proTwo2.jpg"
                                    alt="image is loading" class="img-fluid"> </a>
                        </div>
                    </div>
                </div>

            </section>

            <!-- feature and amenities -->
            <section class="feature">
                <div class="container py-5">
                    <h2 class="heading">Luxury Flat for Sale in Halishahar R/A , Chittagong - Avocado Anms Villa</h2>
                    <div class="row">
                        <div class="col-md-12 col-12 col-lg-6 col-xxl-6 feature-text">
                            <h3>Overview of Avocado Anms Villa </h3>
                            <h4>Project type</h4>
                            <p><i class="far fa-check-circle"></i> Residential </p>
                            <h4>Project Address</h4>
                            <p><i class="far fa-check-circle"></i> Plot# 32, Road# 01, Halishahar R/A , Chittagong.</p>
                            <h4>Storied</h4>
                            <p><i class="far fa-check-circle"></i> Ground + 12 Leaving Floor</p>
                            <h4>Facing</h4>
                            <p><i class="far fa-check-circle"></i> West North Corner</p>
                            <h4>Land Area</h4>
                            <p><i class="far fa-check-circle"></i> 7.55 katha</p>
                            <h4>No. Of Elevator</h4>
                            <p><i class="far fa-check-circle"></i> 01 No</p>
                            <h4>Parking</h4>
                            <p><i class="far fa-check-circle"></i> Ground Floor</p>
                        </div>
                        <div class="col-md-12 col-12 col-lg-6 col-xxl-6 feature-text">
                            <h3>Overview of Avocado Anms Villa's Appartment </h3>
                            <h4>No. Of Appartment</h4>
                            <p><i class="far fa-check-circle"></i> 24 No. </p>
                            <h4>Appartment Type</h4>
                            <p><i class="far fa-check-circle"></i> √ 04 Beds, √ 04 Baths (03 Attached), √ Living, √
                                Dining, √ Family Living, √ Kitchen with Ver, √ Maid's Bed with Toilet.</p>
                            <p><i class="far fa-check-circle"></i> √ 03 Beds, √ 03 Baths (02 Attached), √ Living, √
                                Dining, √ Family Living, √ Kitchen with Ver, √ Maid's Bed with Toilet.</p>
                            <h4>Appartment Size</h4>
                            <p>2950 sft. (Apprx) </p>
                        </div>
                    </div>
                </div>
            </section>


            <!-- map section of latest project one -->
            <section class="residential-project-map">
                <div class="container py-5">
                    <div class="row">
                        <div class="col-md-12 col-12 col-lg-8 col-xxl-8 main-left">
                            <iframe
                                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d29528.865879843994!2d91.7656444051494!3d22.311746012975945!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x30acdec55dd23931%3A0xb4f7439c6623a22e!2sHalishahar%2C%20Chattogram!5e0!3m2!1sen!2sbd!4v1629712319475!5m2!1sen!2sbd"
                                width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                        </div>
                        <div class="col-md-12 col-12 col-lg-4 col-xxl-4 main-right">
                            <h1>Location</h1>
                            <p> Plot# 7, Road# 04, Halishahar R/A. <br> Chittagong.</p>
                        </div>
                    </div>
                </div>
            </section>

            <!-- residential project section -->
            <section class="residential_project_section">
                <div class="container my-5">
                    <h1>Residential Projects</h1>
                    <div class="row gy-3">
                        <div class="col-md-12 col-12 col-lg-4 col-xxl-4" id="residential-project-two">
                            <figure class="residential-pro-img">
                                <img src="./img/residential3.jpg" alt="image is loading" class="img-fluid">
                            </figure>
                            <div class="residentialTxt">
                                <h5>Avocado Victoria</h5>
                                <p>JamalKhan R/A, Chittagong</p>
                            </div>
                        </div>
                        <div class="col-md-12 col-12 col-lg-4 col-xxl-4" id="residential-project-three">
                            <figure class="residential-pro-img">
                                <img src="./img/residential4.jpg" alt="image is loading" class="img-fluid">
                            </figure>
                            <div class="residentialTxt">
                                <h5>Avocado Daffodil</h5>
                                <p>Lalkhanbazar, Chittagong</p>
                            </div>
                        </div>
                        <div class="col-md-12 col-12 col-lg-4 col-xxl-4" id="residential-project-four">
                            <figure class="residential-pro-img">
                                <img src="./img/residential5.jpg" alt="image is loading" class="img-fluid">
                            </figure>
                            <div class="residentialTxt">
                                <h5>Avocado Lora</h5>
                                <p>East Nasirabad R/A, Chittagong</p>
                            </div>
                        </div>
                        <div class="col-md-12 col-12 col-lg-4 col-xxl-4" id="residential-project-five">
                            <figure class="residential-pro-img">
                                <img src="./img/residential6.jpg" alt="image is loading" class="img-fluid">
                            </figure>
                            <div class="residentialTxt">
                                <h5>Avocado Galaxy</h5>
                                <p>Gec Circle, Chittagong</p>
                            </div>
                        </div>
                        <div class="col-md-12 col-12 col-lg-4 col-xxl-4" id="residential-project-six">
                            <figure class="residential-pro-img">
                                <img src="./img/residential7.jpg" alt="image is loading" class="img-fluid">
                            </figure>
                            <div class="residentialTxt">
                                <h5>Avocado Tranquility</h5>
                                <p>Kajer dewri, Chittagong</p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <!-- footer section -->
            <%- include('./partials/footer.ejs') %>




                <!-- Optional JavaScript; choose one of the two! -->

                <!-- Option 1: Bootstrap Bundle with Popper -->
                <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
                    integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj"
                    crossorigin="anonymous"></script>

                <!-- Option 2: Separate Popper and Bootstrap JS -->
                <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-eMNCOe7tC1doHpGoWe/6oMVemdAVTMs2xqW4mwXrXsW0L84Iytr2wi5v2QjrP/xp" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js" integrity="sha384-cn7l7gDp0eyniUwwAZgrzD06kc/tftFf19TOAs2zVinnD/C7E91j9yyk5//jjpt/" crossorigin="anonymous"></script>
    -->

                <!-- github js link -->
                <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
                <script>
                    AOS.init({
                        offset: 200,
                        duration: 1000
                    });
                </script>

                <!-- external js link -->
                <script src="index.js"></script>



    </body>

    </html>